@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap'); 
@font-face { 
  font-family:'FontAwesome';
  src:url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src:url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight:normal;
  font-style:normal;
} 
@font-face { 
  font-family:Geomanist;
  src:url(https://static.divinitor.com/site/common/font/geomanist-regular-webfont.eot);
  src:url(https://static.divinitor.com/site/common/font/geomanist-regular-webfont.woff2) format("woff2"),url(https://static.divinitor.com/site/common/font/geomanist-regular-webfont.woff) format("woff"),url(https://static.divinitor.com/site/common/font/geomanist-regular-webfont.ttf) format("truetype"),url(https://static.divinitor.com/site/common/font/geomanist-regular-webfont.svg#geomanist_regularregular) format("svg");
  font-weight:400;
  font-style:normal;
} 
@font-face { 
  font-family:FontAwesome;
  src:url(https://reference.dn.divinitor.com/fonts/fontawesome-webfont.674f50d2.eot);
  src:url(https://reference.dn.divinitor.com/fonts/fontawesome-webfont.674f50d2.eot?#iefix) format("embedded-opentype"),url(https://reference.dn.divinitor.com/fonts/fontawesome-webfont.af7ae505.woff2) format("woff2"),url(https://reference.dn.divinitor.com/fonts/fontawesome-webfont.fee66e71.woff) format("woff"),url(https://reference.dn.divinitor.com/fonts/fontawesome-webfont.b06871f2.ttf) format("truetype"),url(https://reference.dn.divinitor.com/img/fontawesome-webfont.912ec66d.svg#fontawesomeregular) format("svg");
  font-weight:400;
  font-style:normal;
} 

html { 
    background-color: #131315;
} 

html { 
    background-image: url(https://static.divinitor.com/site/common/img/dv-masthead-bg-static-merged.png); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 62.5% 70%; 
    background-color: #0e0e10; 
    background-attachment: fixed; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    min-height: 100%; 
    margin: 0; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

html { 
    position: relative; 
    padding: 0;
} 

body { 
    color: #a6aeb3; 
    font-family: Lato,Segoe UI,Tahoma,Verdana,sans-serif; 
    font-size: 16px;
} 

body { 
    position: relative; 
    padding: 0;
} 

body { 
    min-height: 100vh; 
    width: 900px; 
    border-left: 1px solid #1d1d20; 
    border-right: 1px solid #1d1d20; 
    margin: 0 auto;
} 

body { 
    background-color: #131315;
} 

@media only screen and (min-width: 1300px){ 
  body { 
    width: 1200px; 
    padding-left: 30px; 
    padding-right: 30px;
  } 
}     

:selection { 
    background: #aaa; 
    color: #445;
} 

.startup { 
    color: white; 
    font-family: Lato, "Segoe UI", Tahoma, Verdana, sans-serif; 
    font-weight: normal; 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    pointer-events: none; 
    opacity: 1.0; 
    z-index: 300; 
    background-color: #131315;
} 

.startup.hidden { 
    opacity: 0; 
    transition: opacity ease-in 0.5s;
} 

.startup > .container  { 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    font-weight: normal; 
    padding: 8px 16px; 
    margin: 0; 
    text-transform: uppercase; 
    border-left: 4px solid #98BCD4; 
    animation: 0.5s ease-in 0s 1 startup-fade-in;
} 

.site-header { 
    display: block; 
    margin: 14px 20px; 
    margin-top: 0; 
    padding-top: 14px; 
    position: relative; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
} 

@media only screen and (min-width: 1300px){ 
  .site-header { 
    width: 300px;
  } 
}     

.auth-box { 
    position: absolute; 
    top: 46px; 
    right: 20px;
} 

@media only screen and (min-width: 1300px){ 
  .auth-box { 
    right: 40px;
  } 
}     

.region-indicator { 
    position: absolute; 
    top: 14px; 
    right: 20px;
} 

@media only screen and (min-width: 1300px){ 
  .region-indicator { 
    right: 40px;
  } 
}     

.appbody { 
    -webkit-transition: opacity 1s ease-in; 
    transition: opacity 1s ease-in; 
    padding: 20px 20px; 
    padding-right: 40px; 
    padding-top: 30px;
} 

.copyright { 
    display: none;
} 

.copyright { 
    display: block; 
    font-size: 10px; 
    font-family: Lato,Segoe UI,Tahoma,Verdana,sans-serif; 
    color: #35383a; 
    text-align: right; 
    position: absolute; 
    bottom: 20px; 
    right: 20px;
} 

.startup[started="true"] { 
    opacity: 0; 
    -webkit-transition: opacity .5s ease-in; 
    transition: opacity .5s ease-in;
} 

.startup > .container > .sub  { 
    letter-spacing: 0.3em; 
    padding-left: 3px; 
    color: #3B6E96;
} 

.startup > .container > .title  { 
    font-weight: normal; 
    padding: 0; 
    margin: 0; 
    letter-spacing: 0.3em; 
    color: #98BCD4; 
    font-size: 48px;
} 

.startup > .container > .detail  { 
    margin-top: 10px; 
    padding-left: 3px; 
    letter-spacing: 0.4em; 
    animation: 2s linear 0s infinite startup-pulse;
} 

.mobile-only { 
    display: none;
} 

.site-header .mobile-header-right  { 
    position: absolute; 
    top: 0; 
    right: 0;
} 

.site-auth-header[data-v-30222694] { 
    position: relative; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
} 

.locale-select[data-v-4f32b89c] { 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
} 

.flex-box { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%;
} 

button { 
    background: #131315; 
    color: #98bcd4; 
    text-transform: uppercase; 
    font-family: Lato,Segoe UI,Tahoma,Verdana,sans-serif; 
    height: 40px; 
    border-color: #98bcd4; 
    border-width: 2px; 
    border-style: solid; 
    font-size: 16px; 
    cursor: pointer; 
    -webkit-transition: color .125s ease-in,background-color .125s ease-in,border-color .125s ease-in; 
    transition: color .125s ease-in,background-color .125s ease-in,border-color .125s ease-in;
} 

button:hover { 
    background: #98bcd4; 
    color: #131315;
} 

a { 
    color: #4783b1; 
    text-decoration: none; 
    -webkit-transition: color .125s ease-in; 
    transition: color .125s ease-in;
} 

.site-header .header-left .header-link  { 
    display: block; 
    max-width: 300px;
} 

a:hover { 
    color: #98bcd4;
} 

.nav[data-v-1739f80a] { 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
} 

.site-auth-header .guest[data-v-30222694]  { 
    border-left: 2px solid #98bcd4; 
    background: rgba(19,19,21,.8); 
    padding: 10px; 
    cursor: pointer; 
    -webkit-transition: background-color .125s ease-in,color .125s ease-in; 
    transition: background-color .125s ease-in,color .125s ease-in;
} 

.site-auth-header .guest[error][data-v-30222694]  { 
    border-left-color: #cd2020;
} 

.site-auth-header .guest[data-v-30222694]:hover { 
    background: rgba(152,188,212,.2);
} 

.locale-select .selector[data-v-4f32b89c]  { 
    text-align: right; 
    color: #5aa9e5; 
    font-family: Lato,Segoe UI,Tahoma,Verdana,sans-serif; 
    letter-spacing: .2em; 
    font-size: 12px; 
    text-transform: uppercase; 
    font-weight: 400; 
    -webkit-transition: color .125s ease-in; 
    transition: color .125s ease-in; 
    cursor: pointer; 
    white-space: nowrap;
} 

.locale-select .selector[data-v-4f32b89c]:hover { 
    color: #98bcd4;
} 

.flex-box .left-pane  { 
    -webkit-box-ordinal-group: 2; 
    -ms-flex-order: 1; 
    order: 1; 
    -ms-flex-preferred-size: auto; 
    flex-basis: auto; 
    padding-right: 14px; 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 166px; 
    flex: 0 0 166px;
} 

.flex-box .main-pane  { 
    -webkit-box-ordinal-group: 2; 
    -ms-flex-order: 1; 
    order: 1; 
    padding-left: 14px; 
    -webkit-box-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
    margin-bottom: 70px; 
    min-width: 0;
} 

h1 { 
    font-family: Geomanist,Segoe UI,Tahoma,Verdana,sans-serif; 
    color: #98bcd4; 
    letter-spacing: .3em; 
    text-transform: uppercase; 
    font-size: 32px; 
    margin: 30px 0 10px 0; 
    padding-bottom: 8px; 
    font-weight: 400;
} 

h1:first-child { 
    margin: 0 0 6px 0;
} 

.site-header h1  { 
    margin: 0; 
    color: #98bcd4; 
    font-weight: 400; 
    font-size: 20px; 
    padding: 0 0 .5em 0;
} 

.site-header .subtitle  { 
    font-family: Geomanist,Segoe UI,Tahoma,Verdana,sans-serif; 
    color: #4783b1; 
    font-size: 10px; 
    text-transform: uppercase; 
    letter-spacing: .1em; 
    margin: 0;
} 

.fa { 
    display: inline-block; 
    font: normal normal normal 14px/1 FontAwesome; 
    font-size: inherit; 
    text-rendering: auto; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.fa { 
    margin-left: .2em; 
    margin-right: .2em;
} 

.fa-globe:before { 
    content: "\f0ac";
} 

.nav h1[data-v-1739f80a]  { 
    font-size: 18px; 
    margin: 5px 0 10px 0; 
    padding: 0;
} 

.nav ul[data-v-1739f80a]  { 
    list-style: none; 
    margin: 0; 
    padding: 0;
} 

.nav .related-links[data-v-1739f80a]  { 
    margin: 20px 0 0 12px;
} 

.nav .menu-icon[data-v-1739f80a]  { 
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 40px; 
    height: 40px; 
    border: 1px solid #3d4b54; 
    text-align: center; 
    color: #3d4b54; 
    font-size: 30px; 
    cursor: pointer; 
    -webkit-transition: border-color .125s ease-in,color .125s ease-in; 
    transition: border-color .125s ease-in,color .125s ease-in;
} 

.nav .menu-icon[data-v-1739f80a]:hover { 
    border-color: #98bcd4; 
    color: #98bcd4;
} 

p { 
    letter-spacing: -.005em;
} 

.site-auth-header p[data-v-30222694]  { 
    margin: 0; 
    line-height: 1.25em;
} 

.site-auth-header .clicky[data-v-30222694]  { 
    font-family: Geomanist,Segoe UI,Tahoma,Verdana,sans-serif; 
    text-transform: uppercase; 
    letter-spacing: .2em; 
    font-size: 12px; 
    color: #5aa9e5; 
    white-space: nowrap; 
    margin-top: 4px;
} 

h2 { 
    color: #98bcd4; 
    letter-spacing: .3em; 
    font-size: 24px; 
    margin-top: 18px;
} 

h2 { 
    font-family: Geomanist,Segoe UI,Tahoma,Verdana,sans-serif; 
    text-transform: uppercase; 
    margin-bottom: 8px; 
    font-weight: 400;
} 

.nav a[data-v-1739f80a]  { 
    outline: 0;
} 

.nav .related-links .link[data-v-1739f80a]  { 
    font-family: Geomanist,Segoe UI,Tahoma,Verdana,sans-serif; 
    text-transform: uppercase; 
    font-size: 12px; 
    letter-spacing: .1em; 
    line-height: 18px;
} 

.nav .related-links .link-header[data-v-1739f80a]  { 
    color: #48a;
} 

.nav .related-links .link-header[data-v-1739f80a]  { 
    font-family: Geomanist,Segoe UI,Tahoma,Verdana,sans-serif; 
    text-transform: uppercase; 
    font-size: 12px; 
    letter-spacing: .1em; 
    line-height: 18px;
} 

.fa-navicon:before,.fa-reorder:before,.fa-bars:before { 
    content: "\f0c9";
} 

.fa-bars:before,.fa-navicon:before,.fa-reorder:before { 
    content: "\f0c9";
} 

strong { 
    color: #ddd;
} 

.nav .menu-icon[data-v-1739f80a]:hover, .nav .menu-icon[open][data-v-1739f80a] { 
    border-color: #98bcd4; 
    color: #98bcd4;
} 

.tag-table .row[data-v-489c3298]  { 
    position: relative; 
    vertical-align: center;
} 

.nav ul li[data-v-1739f80a]  { 
    text-transform: uppercase; 
    font-family: Lato,Segoe UI,Tahoma,Verdana,sans-serif; 
    font-size: 14px; 
    margin-left: .25em; 
    margin-top: .6em; 
    padding-left: .5em; 
    padding-top: .2em; 
    padding-bottom: .2em; 
    border-left: 2px solid #4783b1; 
    -webkit-transition: border .125s ease-in,color .125s ease-in,background-color .125s ease-in; 
    transition: border .125s ease-in,color .125s ease-in,background-color .125s ease-in; 
    font-weight: 400; 
    letter-spacing: .1em; 
    color: #4783b1; 
    cursor: pointer;
} 

.nav ul .router-link-active li[data-v-1739f80a]  { 
    color: #98bcd4; 
    background: rgba(90,169,229,.1);
} 

.nav ul li[data-v-1739f80a]:hover { 
    color: #98bcd4; 
    background: rgba(152,188,212,.2);
} 

.nav ul .router-link-active li[data-v-1739f80a]:hover { 
    background: rgba(152,188,212,.2);
} 

.nav ul li.new[data-v-1739f80a]  { 
    border-left: 2px solid #d0a020; 
    color: #d0a020; 
    position: relative;
} 

.nav ul li.new[data-v-1739f80a]::after { 
    content: "NEW"; 
    position: absolute; 
    top: 0; 
    right: -4px; 
    font-size: 10px;
} 

.nav .related-links .link a[data-v-1739f80a]  { 
    color: #3d4b54;
} 

.nav .related-links .link a[data-v-1739f80a]:hover { 
    color: #98bcd4;
} 

.tag-table .row .rowhead[data-v-489c3298]  { 
    width: 70px; 
    font-family: Lato,Segoe UI,Tahoma,Verdana,sans-serif; 
    color: #98bcd4; 
    font-size: 10px; 
    text-transform: uppercase; 
    letter-spacing: .1em; 
    display: inline-block;
} 

.tag-table .row .data[data-v-489c3298]  { 
    font-size: 14px; 
    text-transform: uppercase; 
    letter-spacing: .2em; 
    display: inline-block;
} 


@keyframes startup-fade-in { 
  0% {  
      opacity: 0.0; 
      opacity: 0; 
  }  
  100% {  
      opacity: 1.0; 
      opacity: 1; 
  }  

} 
@keyframes startup-pulse { 
  0% {  
      color: #3D4B54; 
      color: rgb(61, 75, 84); 
  }  
  50% {  
      color: #69899c; 
      color: rgb(105, 137, 156); 
  }  
  100% {  
      color: #3D4B54; 
      color: rgb(61, 75, 84); 
  }  

} 
/* These were inline style tags. Uses id+class to override almost everything */
#snipcss-panel-container.style-ZaQqk {  
   right: 70px;  
    top: 562.5px;  
}  
#style-P8R27.style-P8R27 {  
   touch-action: none;  
}  
#style-ggJs2.style-ggJs2 {  
   touch-action: none;  
}  
#style-jNDkO.style-jNDkO {  
   top: -2px;  
    left: 352px;  
    height: 0px;  
    width: 0px;  
}  
#style-XFWQs.style-XFWQs {  
   top: -2px;  
    left: 1552px;  
    height: 0px;  
    width: 0px;  
}  
#style-Pz1G2.style-Pz1G2 {  
   top: 629px;  
    left: 352px;  
    height: 0px;  
    width: 0px;  
}  
#style-TG4wk.style-TG4wk {  
   top: -2px;  
    left: 350px;  
    height: 0px;  
    width: 0px;  
}  
#style-Jxgxp.style-Jxgxp {  
   top: -2px;  
    left: 329px;  
    height: 0px;  
    width: 0px;  
}  
#style-XIxUX.style-XIxUX {  
   top: -2px;  
    left: 1591px;  
    height: 0px;  
    width: 0px;  
}  
#style-wXcr7.style-wXcr7 {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-eAUhr.style-eAUhr {  
   top: -2px;  
    left: 327px;  
    height: 0px;  
    width: 0px;  
}  
#style-qBQ47.style-qBQ47 {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#snipcss-kiwi.style-fJalC {  
   left: 1810px;  
    top: 0px;  
}  
